<section class="h-[86vh] overflow-x-auto bg-secondary flex flex-col">
  <div class="mt-10">
    <div class='flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between mr-9 mt-8 ml-12'>
      <app-custom-input placeholder="Search" [control]="filterSearch.controls.search"/>
      <div class='flex flex-wrap gap-4 items-end justify-end -mb-3'>
        <div class='inline-flex outline-none rounded-md mb-3 px-2'>
          <app-custom-select [options]="statusOptions" placeholder="Filter by verified" [control]="filterSearch.controls.filter"/>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
  <div class="ml-10 mr-10 mt-10 flex-grow">
    <app-custom-table [tableHeader]="tableHead" (preview)="onPreview($event)" [page]="page" [isLoading]="isLoading"
                      [tableData]="startups" (pageChange)="onPageChange($event)"
                      noData="No startups found"
    />
  </div>
</section>
<div class="card flex justify-content-center">
  <p-dialog [modal]="true" header="Startup" [(visible)]="visible" [style]="{width: '90%'}">
    <div class="md:mx-auto rounded w-full md:w-1/2 overflow-hidden">
      <div class="px-5 py-2 flex flex-col gap-3 pb-6">
        <div *ngIf="!isLoadingStartup" class="h-[90px] shadow-md w-[90px] rounded-full border-4 overflow-hidden border-primary">
          <img alt="profile" [src]="startupImage"
               class="w-full h-full rounded-full object-center object-cover">
        </div>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '100%',
      height: '90px',
      width: '90px',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <div *ngIf="!isLoadingStartup" class="">
          <h3 class="text-xl text-slate-900 relative font-bold leading-6">
            {{startup?.name}} <span *ngIf="startup?.startup_name">- {{startup?.rep_name}}, {{startup?.rep_position}}</span>
          </h3>
          <p class="text-sm text-gray-600">{{startup?.email}}</p>
        </div>
        <div class="flex flex-col" *ngIf="isLoadingStartup">
          <ngx-skeleton-loader
            [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '15rem',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '15rem',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
        </div>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '2rem',
      width: '6rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <div *ngIf="startup?.verified === 'verified' && !isLoadingStartup" class="flex gap-3 flex-wrap">
          <span class="rounded-sm bg-[#52996c]  px-3 py-2 text-xs font-medium text-yellow-800">
           {{startup?.verified}}
          </span>
        </div>
        <div *ngIf="startup?.verified === 'unverified' && !isLoadingStartup" class="flex gap-3 flex-wrap">
          <span class="rounded-sm bg-[#8e4444] px-3 py-2 text-xs font-medium text-yellow-800">
           {{startup?.verified}}
          </span>
        </div>
        <div *ngIf="startup?.verified === 'pending' && !isLoadingStartup" class="flex gap-3 flex-wrap">
          <span class="rounded-sm bg-[#c4b775] px-3 py-2 text-xs font-medium text-yellow-800">
           {{startup?.verified}}
          </span>
        </div>
        <span class="text-md font-medium" *ngIf="!isLoadingStartup">Industry</span>
        <div class="flex gap-3 flex-wrap" *ngIf="!isLoadingStartup">
          <span *ngFor="let interest of startup?.industry?.split(', ')" class="rounded-sm bg-primary px-3 py-1 text-xs font-medium text-yellow-800">
            {{interest}}
          </span>
        </div>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '10rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '1.5rem',
      width: '25rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <span class="text-md font-medium" *ngIf="!isLoadingStartup">Equity</span>
        <div class="flex gap-3 flex-wrap" *ngIf="!isLoadingStartup">
          <span *ngFor="let stage of startup?.equity?.split(', ')" class="rounded-sm bg-primary px-3 py-1 text-xs font-medium text-yellow-800">
            {{stage}}
          </span>
        </div>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '10rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '1.5rem',
      width: '25rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">Stage</span>
        <p class="text-sm text-stone-500" *ngIf="!isLoadingStartup">{{startup?.stage}}</p>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '7rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '7rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">Amount to raise</span>
        <p class="text-sm text-slate-500 self-start ml-auto" *ngIf="!isLoadingStartup">{{startup?.amount_to_raise}}</p>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '5rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '14rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">Country: {{startup?.country}}</span>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">Region / State: {{startup?.region_state}}</span>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">City: {{startup?.city}}</span>
        <span class="text-md font-medium leading-3" *ngIf="!isLoadingStartup">Registration Country: {{startup?.registration_country}}</span>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '10rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader *ngIf="isLoadingStartup"
                             [theme]="{
      'border-radius': '5px',
      height: '0.6rem',
      width: '10rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
        <div class="flex gap-x-4" *ngIf="!isLoadingStartup">
          <app-button (click)="openInNewTab(startup?.pitch_deck!)" name="View Pitch" variant="primary"/>
          <app-button (click)="openInNewTab(startup?.rep_id!)" name="View Rep Id" variant="primary"/>
          <app-button *ngIf="startup?.video_pitch" (click)="openInNewTab(startup?.video_pitch!)" name="View Pitch Video" variant="primary"/>
        </div>
        <div class="flex gap-x-4" *ngIf="isLoadingStartup">
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '5px',
      height: '2.5rem',
      width: '7rem',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '5px',
      height: '2.5rem',
      width: '7rem',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
        </div>
        <div class="flex gap-x-2" *ngIf="isLoadingStartup">
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '100%',
      height: '30px',
      width: '30px',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '100%',
      height: '30px',
      width: '30px',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '100%',
      height: '30px',
      width: '30px',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader *ngIf="isLoadingStartup"
                               [theme]="{
      'border-radius': '100%',
      height: '30px',
      width: '30px',
      'background-color': '#A4A4A4',
    }"
          ></ngx-skeleton-loader>
        </div>
        <div class="flex" *ngIf="!isLoadingStartup">
          <a (click)="openInNewTab(startup?.linkedin!)" class="cursor-pointer">
            <img width="30" alt="linkedin" src="../../../assets/icons8-linkedin.svg"/>
          </a>
<!--          <a (click)="openInNewTab((startup?.rep_linkedin!))" class="cursor-pointer">-->
<!--            <img width="30" alt="twitter" src="../../../assets/icons8-twitter-circled.svg"/>-->
<!--          </a>-->
<!--          <a href="" target="_blank" class="cursor-pointer">-->
<!--            <img width="30" alt="instagram" src="../../../assets/icons8-instagram.svg"/>-->
<!--          </a>-->
<!--          <a href="" target="_blank" class="cursor-pointer">-->
<!--            <img width="30" alt="facebook" src="../../../assets/icons8-facebook.svg"/>-->
<!--          </a>-->
        </div>
      </div>
      <div class="flex gap-x-4">
        <div *ngIf="startup?.verified === 'pending' && !isLoadingStartup" class="flex justify-end">
          <app-button (click)="toggleModal()" name="Approve" variant="optional" />
        </div>
        <div *ngIf="startup?.verified === 'verified' && !isLoadingStartup" class="flex justify-end">
          <app-button (click)="toggleDeclineModal()" name="Revoke Verification" variant="optional"/>
        </div>
        <div *ngIf="startup?.verified === 'pending' && !isLoadingStartup" class="flex justify-end">
          <app-button (click)="toggleDeclineModal()" name="Decline" variant="optional"/>
        </div>
      </div>
      <div *ngIf="isLoadingStartup" class="flex justify-end">
        <ngx-skeleton-loader
          [theme]="{
      'border-radius': '5px',
      height: '3rem',
      width: '6rem',
      'background-color': '#A4A4A4',
    }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </p-dialog>
</div>
<app-confirmation-modal
  header="Verify startup"
  description="Are you sure you want to verify this startup?"
  [isLoading]="isVerifying"
  [visible]="verifyConfirmationModal"
  (cancel)="toggleModal()"
  (submit)="onVerify()"
/>

<app-confirmation-modal
  header="Verify startup"
  description="Are you sure you want to decline or revoke verification?"
  [isLoading]="isDeclining"
  [visible]="declineConfirmationModal"
  (cancel)="toggleDeclineModal()"
  (submit)="onDecline()"
/>

