<section [@slideIn]="slideIn" class="max-w-screen-xl mx-auto">
  <div class="flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <img src="assets/undraw_investment_data_re_sh9x.svg" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
    </div>
    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Register now to gain exclusive access to our remarkable portfolio of groundbreaking startups that are
        revolutionizing industries and making a positive impact on the world. By joining our community, you'll be at
        the forefront of innovation, witnessing firsthand the transformative power of these ventures. Don't miss out on the
        chance to be part of this extraordinary journey. Sign up today and unlock a world of limitless possibilities!
      </p>
      <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
        <a rel="noopener noreferrer" routerLink="investor" class="px-8 py-3 text-lg font-semibold border rounded dark:border-gray-100">
          Investor
        </a>
      </div>
    </div>
  </div>
</section>
