<section class="bg-secondary">
<div class="flex items-center justify-between px-4 border-primary py-4 border-b lg:py-6 dark:border-primary-darker">
  <h1 class="text-2xl font-semibold text-primary">{{title}}</h1>
</div>

<!-- Content -->
<div class="mt-2">
  <!-- State cards -->
  <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
  <app-stats-card *ngFor="let card of flashCardData" [title]="card.title" [value]="card.value">
      <mat-icon>{{card.icon}}</mat-icon>
  </app-stats-card>
  </div>
</div>
  <div class="flipCardsMain">
    <div class="flipCardContainer">
      <app-flip-box *ngFor="let data of flipCardData" [title]="data.title" [description]="data.description"
                    [imageSrc]="data.image"
                    [route]="data.route"
      />
    </div>
  </div>
</section>
