<header class="bg-secondary z-10 px-10 pt-5 overflow-auto text-white">
  <nav class="flex justify-between">
    <div
      [routerLink]="route"
      class="flex border max-h-5 hover:border-primary border-white px-1.5 rounded-md hover:text-primary cursor-pointer items-center gap-x-1"
    >
      <mat-icon class="rounded-md">navigate_before</mat-icon>
      <span>{{ routeName }}</span>
    </div>
    <div
      *ngIf="
        injectRouter.url !== '/company-incorporation/home' &&
        injectRouter.url !== '/incorporation-info'
      "
      class="bg-secondary"
    >
      <ol
        class="flex items-center w-full space-x-2 text-sm font-medium text-center text-gray-500 rounded-lg shadow-sm sm:text-base dark:bg-gray-800 sm:space-x-4 rtl:space-x-reverse"
      >
        <li
          [ngClass]="
            injectRouter.url === '/company-incorporation/incorporation-form' ||
            injectRouter.url.startsWith(
              '/company-incorporation/incorporation-form?id='
            )
              ? 'text-primary'
              : 'text-white'
          "
          class="flex items-center"
        >
          <circle-progress
            [percent]="calculateCompanyCompletionPercentage()"
            [title]="String(calculateCompanyCompletionPercentage())"
          ></circle-progress>
          Company <span class="hidden sm:inline-flex sm:ms-2">Info</span>
          <svg
            class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 12 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m7 9 4-4-4-4M1 9l4-4-4-4"
            />
          </svg>
        </li>
        <li class="flex items-center">
          <circle-progress
            [percent]="calculateRoleCompletionPercentage()"
            [title]="String(calculateRoleCompletionPercentage())"
          ></circle-progress>
          Proprietor / Directors
          <span class="hidden sm:inline-flex sm:ms-2">Info</span>
          <!--          <svg-->
          <!--            class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180"-->
          <!--            aria-hidden="true"-->
          <!--            xmlns="http://www.w3.org/2000/svg"-->
          <!--            fill="none"-->
          <!--            viewBox="0 0 12 10"-->
          <!--          >-->
          <!--            <path-->
          <!--              stroke="currentColor"-->
          <!--              stroke-linecap="round"-->
          <!--              stroke-linejoin="round"-->
          <!--              stroke-width="2"-->
          <!--              d="m7 9 4-4-4-4M1 9l4-4-4-4"-->
          <!--            />-->
          <!--          </svg>-->
        </li>
        <!--        <li class="flex items-center">-->
        <!--          <span-->
        <!--            class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400"-->
        <!--          >-->
        <!--            3-->
        <!--          </span>-->
        <!--          Directors <span class="hidden sm:inline-flex sm:ms-2">Info</span>-->
        <!--        </li>-->
      </ol>
    </div>
    <app-profile-dropdown class="z-[1000]" />
  </nav>
</header>
