<main id='about' class="w-full pt-10 flex flex-col items-center bg-secondary">
  <section class="section one flex w-full items-center justify-center">
    <div class="">
      <ng-lottie height="20vw" [options]="options"></ng-lottie>
    </div>
    <div class="">
      <span class="text-primary text-4xl font-semibold">
        About Us
      </span>
      <div class="w-[40vw] mt-5">
        <p class='text-white text-xl'>
          Welcome to Middlefund, where innovation, investment, and growth converge to shape the future of entrepreneurship.
          We're not just a platform; we're a dynamic ecosystem committed to propelling startups to new heights and
          connecting them with the resources they need to thrive.
        </p>
      </div>
    </div>
  </section>

  <section class="two flex w-full mt-10 items-center justify-center">
    <div class="mr-[2vw] mt-5">
      <span class="text-primary text-4xl font-semibold">
        Our Commitment
      </span>
      <div class="w-[40vw] mt-5">
        <p class='text-white text-xl'>
          At Middlefund, we're committed to being your partner on the journey to success.
          We're passionate about fostering innovation, supporting founders, and facilitating meaningful connections.
          Your success is our ultimate measure of achievement.
        </p>
      </div>
    </div>
    <div>
      <ng-lottie height="20vw" [options]="options1"></ng-lottie>
    </div>
  </section>
</main>
