<section class="flex h-screen justify-center w-full">
  <div *ngIf="loadingPage" class="flex flex-col animate-bounce justify-center mx-5 w-full items-center">
      <app-logo/>
    <span class="text-primary mt-4">Loading...</span>
  </div>
    <form *ngIf="!loadingPage" [formGroup]="startupProfileForm" (ngSubmit)="onSubmit()" class="flex flex-col mx-5 w-full items-center">
      <div class="grid border-y-2 border-primary pb-8 pt-4 sm:grid-cols-2 gap-y-8 md:max-w-5xl gap-x-5 w-full">
      <app-custom-input label="Startup Name *" for="startup_name" type="text" placeholder="Enter startup name" [control]="startupProfileForm.controls.startupName"/>
      <app-custom-select label="Registration Info" placeholder="What is your startup registered as" [options]="registrationInfo" [control]="startupProfileForm.controls.registrationInfo"/>
      <app-custom-select label="Industry *" placeholder="What industry do you operate in?" [options]="industries" [loadingOptions]="loadingIndustries" [control]="startupProfileForm.controls.industry"/>
      <app-custom-select label="Registration Country" placeholder="What country is your startup registered in" [options]="countries" [control]="startupProfileForm.controls.registrationCountry"/>
      <app-custom-select label="Stage *" placeholder="What stage are you currently at?" [control]="startupProfileForm.controls.stage" [options]="stagesOptions"/>
      <app-custom-select label="Country *" placeholder="What country is your startup based in" [options]="countries" [control]="startupProfileForm.controls.location.controls.country"/>
      <app-custom-select *ngIf="startupProfileForm.controls.location.controls.country.valid" label="Region or State *" placeholder="What region or state is your startup based in" [options]="states" [control]="startupProfileForm.controls.location.controls.region"/>
      <app-custom-select *ngIf="startupProfileForm.controls.location.controls.region.valid" label="City *" placeholder="What city is your startup based in" [options]="cities" [control]="startupProfileForm.controls.location.controls.city"/>
      <app-custom-input label="Website" for="website" type="url" placeholder="Leave blank if you do not have a website." [control]="startupProfileForm.controls.social.controls.website"/>
      <app-custom-input label="LinkedIn" for="linkedin" type="url" placeholder="Leave blank if you do not have an account." [control]="startupProfileForm.controls.social.controls.linkedIn"/>
      </div>
      <div class="flex mt-10 w-full justify-end md:max-w-5xl">
        <app-button type="submit" [isLoading]="isLoading" [disable]="!startupProfileForm.valid" name="Next"/>
      </div>
  </form>
</section>

