header{
  background-color: #3A3838;
  border-color: #3A3838;
  z-index: 5;
}

nav{
  background-color: #5F5F5F;
  border-color: #3A3838;

}
nav ul li{
  margin-left: 10px;
}

nav ul li a{
  color: white;
}
nav ul li a:hover{
  background-color: #A49370;
}

nav ul {
  margin-left: -20px;
  font-size: 25px;
  margin-top: 50px;

}

aside div{
  background-color: #3A3838;
  border-color: #5F5F5F;

}

main{
  background-color: #3A3838;
  border-color: #3A3838;

}

#mainContainer{
  overflow-y: auto;
}


footer{
  background-color: #3A3838;
  color: white;
  border-color: #3A3838;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 00vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  display: flex;
}
.card {
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}
.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 30px -10px #A49370;
  background: #3A3838;
  border-radius: 12px;
  max-width: 1000px;
  position: relative;
  border: solid 2px #A49370;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  border: solid 2px #A49370;
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.verified{
  float:right;
  margin-top: -35px;
  position: absolute;
  margin-left: 950px;
}


.card {
  padding: 1rem;
  min-height: 40rem;
  margin-top: -150px;
  background: #3A3838;
  color: white;

}

.cards {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 75px;

}
.moveDown{
  margin-top: 0px;
  text-align: left;
  margin-left: 30px;

}
#borderline{
  border-left: 2px solid #A49370;
}

@media screen and (max-width: 483.5px){
  #borderline{
    border-left: none;
  }
}

.headings{
  color: #A49370;
}
.writings{
  font-size: small;
}

.pVideo{
  cursor: pointer;
}

.sDocuments:hover, .pVideo:hover{
  color: #000;

}
.interested{
  background-color:#000;
  border-radius: 7px;
  color: white;
  padding: 0.8em 1.2em;
  text-decoration: none;
  float: right;

}
.interested:hover{
  background-color: #A49370;
}

#notiNum{
  font-size: x-small;
  border-radius:50%;
  height:20px;
  width:20px;
  margin:25px;
  text-align:center;
  color:white;
}
.notiNum{
  margin-top:-2px;
}

::ng-deep .p-dialog-header, ::ng-deep .p-dialog-content, ::ng-deep .p-dialog-footer {
  background: #3A3838 !important;
}

::ng-deep .p-dialog-title, ::ng-deep .p-dialog-content {
  color: white !important;
}

::ng-deep .p-component-overlay {
  background: #A4937099 !important;
}

