<aside class="flex-shrink-0 h-full max-md:hidden w-64 bg-tertiary dark:border-primary-darker dark:bg-darker md:block">
  <div class="flex flex-col h-full">
    <!-- Sidebar links -->
    <nav aria-label="Main" class="flex-1 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto">
      <!-- Dashboards links -->
      <!-- active & hover classes 'bg-primary-100 dark:bg-primary' -->
      <a *ngFor="let nav of navigationData" [routerLink]="nav.route" class="flex cursor-pointer bg-primary text-white items-center p-2 text-gray-500 transition-colors rounded-md dark:text-light hover:bg-primary-100 dark:hover:bg-primary">
        <mat-icon>{{nav.icon}}</mat-icon><span class="ml-2 inline-flex items-center text-sm">{{nav.title}}</span>
      </a>
    </nav>

    <!-- Sidebar footer -->
    <div class="flex-shrink-0 px-2 py-4 space-y-2">
      <button type="button"
              class="flex items-center justify-center w-full px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary-dark focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
      >
        <mat-icon>logout</mat-icon><span>Logout</span>
      </button>
    </div>
  </div>
</aside>
