<section class="bg-secondary h-screen overflow-auto text-white p-10">
    <div class="flex items-center gap-x-1">
        <mat-icon class="border border-white rounded-md">navigate_before</mat-icon>
        <span>Middlefund Platinum</span>
      </div>
      <div class="flex flex-col  h-full ">
        <div class="flex border border-primary p-5 rounded-xl self-center font-bold gap-x-10 items-center justify-center">
            <div class="space-x-2">
              <span class="p-2 rounded-lg bg-[#989898]">M</span>
              <span class="text-primary">Middlefund</span>
            </div>
            <div class="flex items-center gap-x-2 justify-center">
              <mat-icon>location_on</mat-icon>
              <span>Ghana</span>
            </div>
        </div>

        <div class="flex flex-col h-full w-full items-center justify-center mt-5">

          <div class="bg-tertiary w-80 h-72 pt-4 pr-9 pl-6">
           <p class="text-dark font-normal text-base border-b-[30px] border-none">Billing</p>
           <div class="flex justify-between"><p class="font-normal text-base">Sole Proprietorship</p> <p>GH¢ 399 </p></div>
           <div class="flex justify-between"> <p class="font-normal text-base">Tin Registration</p> <p>GH¢ 100 </p></div>
           <div class="flex mt-10 justify-between"><p>Total Bill Due</p><p class="">GH¢ 499</p></div>
          </div>

            </div>


            <div class="mt-6 flex items-center gap-x-5 justify-center">
              <app-button name="Back" variant="tertiary"/>
              <app-button  name="Confirm" variant="secondary"/>
            </div>

        </div>
</section>



