<svg class="" viewBox="0 -20 700 50" width="100%" height="110" preserveAspectRatio="none" >
    <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#A49370" />
    <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v40 h-700z" fill="#6c6c6c" />
  </svg>
<div class="bg-[#6c6c6c] text-white  font-normal  sm:text-center ">
    <p class="text-center">Middlefund</p>
    <hr class="">

    <div class=" p-2 flex justify-center ">
        <p>Contact Us  </p> 
            <a class="px-4"> |</a>  
            <div class="">
        <a href="" class="bg-[#4267B2] rounded-full mx-2">
            <fa-icon [icon]="faFacebookF" style="color: #fff;"></fa-icon>
        </a>
        <a href="" class="bg-[#1DA1F2] rounded-full mx-2">
            <fa-icon [icon]="faTwitter" style="color: #fff;"></fa-icon>
        </a>
        <a href="" class="bg-[#0077b5] rounded-full mx-2">
            <fa-icon [icon]="faLinkedinIn" style="color: #fff;"></fa-icon>
        </a>
        <a href="" class="bg-[#d62976] rounded-full mx-2">
            <fa-icon [icon]="faInstagram" style="color: #fff;"></fa-icon>
        </a>
    </div>
      
    </div>
    <div class="text-center">
        About Us  <a class=""> |</a> Legal Library
    </div>

    <div class="text-center ">
        <p>Copyright © 2023   <a class=""> |</a>  MiddleFund <a class=""> |</a>   All rights reserved</p>
    </div>


</div>
