<div>
  <label [for]="for"  class="block mb-2 text-sm font-medium text-[#000000BA]">{{label}}</label>
  <div class="relative">
    <div class="absolute inset-y-0 top-1 left-0 flex items-center pl-3 pointer-events-none">
      <ng-content select=".left-content"></ng-content>
    </div>
    <input [formControl]="control" [id]="for" [type]="type" [placeholder]="placeholder"
           class="input text-[#00000075] border text-sm rounded-lg shadow focus:shadow-2xl focus:shadow-primary focus:ring-primary focus:border-primary block pl-10 p-2.5"
    >
    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
      <ng-content select=".right-content"></ng-content>
    </button>
  </div>
  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <span *ngFor="let error of control.errors! | keyvalue" class="error">
      {{errorMessages[error.key]}}
    </span>
  </ng-container>
</div>




