<app-accounts-layout question="Continue where you left off?" button="Login" src="assets/undraw_forgot_password_re_hxwm.svg" route="/login"
                     info="Login to continue your amazing journey">
  <div>
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
      <p class="text-primary text-lg">Oops! It happens, enter your email to receive reset instructions</p>
      <alert/>
      <app-input [control]="forgotPassword.controls.email" label="Email" for="email" type="email" placeholder="Enter your email">
        <div class="left-content">
          <mat-icon color="accent">mail</mat-icon>
        </div>
      </app-input>

      <div class="action flex items-baseline justify-between">
        <app-button [disable]="!forgotPassword.valid" type="submit" [isLoading]="isLoading" name="Send" variant="primary"/>
        <span routerLink="/login" class="hover:text-primary cursor-pointer">Back to login</span>
      </div>
    </form>
  </div>
</app-accounts-layout>
