<!-- Backdrop -->
<div *ngIf="loggingOut" class="fixed inset-0 z-10 bg-primary" style="opacity: 0.5" aria-hidden="true">
  <div class="flex justify-center z-50 animate-bounce items-center justify-items-center self-center h-full"><app-logo class="z-50"/></div>
</div>
<div class="relative max-md:ml-auto" >
  <div class="flex gap-x-3 ">
    <span class="text-primary flex items-center">{{name}}</span>
    <button (click)="toggleProfileMenu()" type="button" class="profileButton transition-opacity duration-200 rounded-full dark:opacity-75 dark:hover:opacity-100 focus:outline-none focus:ring dark:focus:opacity-100">
      <span class="sr-only">User menu</span>
      <img class="object-cover w-8 h-8 rounded-full" [src]="image" alt="user image" />
    </button>
  </div>
  <!-- User dropdown menu -->
  <div (click)="onDocumentClick($event)" *ngIf="isProfileMenuOpen"
       class="profileMenu z-[5000] scroll absolute right-0 w-48 py-1 max-md:origin-top-rightk bg-secondary rounded-md shadow-lg top-12 ring-1 ring-black ring-opacity-5 dark:bg-dark focus:outline-none"
  >
    <a routerLink="settings" class="cursor-pointer block px-4 py-2 text-sm text-white transition-colors hover:bg-primary dark:text-light dark:hover:bg-primary">
      Settings
    </a>
    <a *ngIf="!loggingOut" (click)="logout()" class="cursor-pointer block px-4 py-2 text-sm text-white transition-colors hover:bg-primary dark:text-light dark:hover:bg-primary">
      Logout
    </a>
    <a *ngIf="loggingOut" class="flex gap-x-2 items-center px-4 py-2 text-sm text-white transition-colors dark:text-light dark:hover:bg-primary">
      <mat-spinner class="spinner" color="accent"/> <span class="text-grey">Logging out</span>
    </a>

  </div>
</div>
