<section
  class="h-screen flex-col bg-secondary flex items-center justify-center"
>
  <div
    class="bg-btcolor pb-20 text-lg w-full max-w-lg text-white rounded-lg p-10"
  >
    <span class="text-[#858585]">Billing</span>
    <div class="mt-10">
      <div class="flex justify-between">
        <span>LLC</span>
        <span>GH&#8373; 1400</span>
      </div>
      <div class="flex justify-between">
        <span>Tin Registration X3</span>
        <span>GH&#8373; 300</span>
      </div>
    </div>
    <div class="flex mt-10 justify-between">
      <span>Total Bill Due</span>
      <span>GH&#8373; 1700</span>
    </div>
  </div>
  <div class="mt-6 flex items-center gap-x-5 justify-center">
    <app-button type="button" name="Back" variant="tertiary" />
    <app-button name="Pay" variant="custom" />
  </div>
</section>
