<section class="bg-secondary h-screen w-full text-white">
  <div class="flex flex-col h-full items-center">
    <div class="flex mt-10 flex-col w-full justify-center items-center">
      <form
        [formGroup]="roleDetailsForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col mx-5 w-full items-center"
      >
        <div
          class="grid border-y-2 border-primary pb-8 pt-4 sm:grid-cols-2 gap-y-8 md:max-w-5xl gap-x-5 w-full"
        >
          <app-custom-input
            [labelColor]="true"
            label="Name(First, Middle & Last)"
            placeholder="Enter your full name"
            [control]="roleDetailsForm.controls.name"
          ></app-custom-input>
          <app-custom-select
            [labelColor]="'text-primary'"
            [control]="roleDetailsForm.controls.gender"
            label="Choose your gender"
            [options]="genderOptions"
            placeholder="Select your gender"
          />
          <app-custom-input
            [labelColor]="true"
            label="Date of Birth"
            placeholder="Enter date of birth"
            [control]="roleDetailsForm.controls.dob"
          ></app-custom-input>
          <app-custom-input
            [labelColor]="true"
            label="Place of Birth"
            placeholder="Enter your City"
            [control]="roleDetailsForm.controls.birthPlace"
          ></app-custom-input>
          <app-custom-select
            [labelColor]="'text-primary'"
            [control]="roleDetailsForm.controls.nationality"
            label="Choose your nationality"
            [options]="countries"
            placeholder="Select your nationality"
          />
        </div>
        <div class="mt-6 flex items-center justify-center">
          <app-button
            [disable]="roleDetailsForm.invalid"
            name="Next"
            variant="custom"
          />
        </div>
      </form>
    </div>
    <div class="flex mr-10 w-full float-right justify-end items-end">
      <button class="border border-[#989898] px-4 py-2 rounded-md text-primary">
        Request this service for your country
      </button>
    </div>
  </div>
</section>
