<div class="relative bg-primary">
  <div class="absolute inset-x-0 bottom-0">
    <svg viewBox="0 0 224 12" fill="currentColor" class="w-full -mb-1 text-white" preserveAspectRatio="none">
      <path d="M0,0 C48.8902582,6.27314026 86.2235915,9.40971039 112,9.40971039 C137.776408,9.40971039 175.109742,6.27314026 224,0 L224,12.0441132 L0,12.0441132 L0,0 Z"></path>
    </svg>
  </div>
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="relative max-w-2xl sm:mx-auto sm:max-w-xl md:max-w-2xl sm:text-center">
      <h2 class="mb-6 font-sans text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none">
        Subscribe to our <br class="hidden md:block" /> 
        <span class="relative inline-block px-2">
          <div class="absolute inset-0 transform -skew-x-12 bg-teal-accent-400"></div>
          <span class="relative text-teal-900">NewsLetter</span>
        </span>
      </h2>
      <p class="mb-6 text-base text-indigo-100 md:text-lg">
        We're delighted that you visited our website, and we want to make sure you stay updated with all the exciting happenings.
      </p>
      <div class="flex flex-col items-center w-full mb-4 md:flex-row md:px-16">
        <form  [formGroup]="mailInput" (ngSubmit)="onSubscribe()" class="flex w-full">
        <input
          placeholder="Email"
          required=""
          type="email"
          class="flex-grow w-full h-12 px-4 mb-3 text-black transition duration-200 border border-tertiary rounded appearance-none md:mr-2 md:mb-0 bg-deep-purple-900 focus:border-teal-accent-700 focus:outline-none focus:shadow-outline"
          formControlName="email"
        />
        <button *ngIf="!isLoading"
          class="inline-flex items-center bg-tertiary text-white justify-center w-full h-12 px-6 font-semibold tracking-wide text-teal-900 transition duration-200 rounded shadow-md md:w-auto hover:text-deep-purple-900 bg-teal-accent-400 hover:bg-teal-accent-700 focus:shadow-outline focus:outline-none"
          
       >
          Subscribe
      </button>
                <!-- <img *ngIf="isLoading" class=" w-12 ml-2" src="../../../assets/1488.gif"> -->
                <mat-spinner *ngIf="isLoading" class="mat"  ></mat-spinner>
              </form>
      </div>
      <div *ngIf="mailInput.invalid && (mailInput.dirty || mailInput.touched)" class="text-yellow text-left h-7 pl-5">
        <div  class="text-lg text-yellow">Invalid email format!</div>
      </div>
  
      <div class="mt-5 flex justify-center">
      <p class="max-w-md text-center mb-10 text-xs tracking-wide text-indigo-100 sm:text-sm sm:mx-auto md:mb-16">
        We value your privacy and promise to send you only relevant and worthwhile content. 
      </p></div> 
    </div>
  </div>
</div>
