<section class="bg-secondary h-screen overflow-auto text-white p-10">
    <div class="flex items-center gap-x-1">
        <mat-icon class="border border-white rounded-md">navigate_before</mat-icon>
        <span>Middlefund Platinum</span>
      </div>
      <div class="flex flex-col  h-full ">
        <div class="flex border border-primary p-5 rounded-xl self-center font-bold gap-x-10 items-center justify-center">
            <div class="space-x-2">
              <span class="p-2 rounded-lg bg-[#989898]">M</span>
              <span class="text-primary">Middlefund</span>
            </div>
            <div class="flex items-center gap-x-2 justify-center">
              <mat-icon>location_on</mat-icon>
              <span>Ghana</span>
            </div>
        </div>

        <div class="flex flex-col w-full items-center justify-center mt-5">
          <p class="text-white mb-9 text-base font-bold">Proprietor Details</p>
          <form class="w-full max-w-xs flex flex-col gap-y-4" (ngSubmit)="onSubmitProprietorDetails2()" [formGroup]="proprietorDetails2">
            <app-custom-input [labelColor]="true" label="Place of Birth" placeholder="Enter place of birth" [control]="proprietorDetails2.controls.place"></app-custom-input>
            <app-custom-input [labelColor]="true" label="Phone Number" placeholder="Enter phone number" [control]="proprietorDetails2.controls.phone"></app-custom-input>
            <app-custom-input [labelColor]="true" label="Email Address" placeholder="someone@example.com" [control]="proprietorDetails2.controls.email"></app-custom-input>
            <app-file-input [iconUrl]="'assets/gallery-add.svg'" [placeholder]="'Upload Ghanacard'"></app-file-input>
            <app-file-input [iconUrl]="'assets/message-edit.svg'" [placeholder]="'Add your signature'"></app-file-input>
            <div class="mt-6 flex items-center gap-x-5 justify-center">
              <app-button (click)="goBack()" name="Back" variant="tertiary"/>
              <app-button  name="Next" variant="custom"/>
            </div>



          </form>
        </div>

      </div>

</section>


