<section class="bg-secondary h-screen overflow-auto text-white">
  <div class='flex items-center justify-center'>
    <span class='bg-[#262626] py-2.5 px-10 rounded-md'>Company Incorporation</span>
  </div>
  <div class='flex flex-col gap-y-5 items-center justify-center mt-8 font-bold'>
    <span class='text-primary'>My Companies</span>
    <div class='space-y-4'>
      <div class='flex items-center gap-x-2'>
        <div class='bg-[#606060] w-[10rem] text-center p-2 rounded-md'>Middlefund LLC</div>
        <span class='status-icon space-x-2 text-[green]'>
          <mat-icon>brightness_1</mat-icon>
          <span>Submitted</span>
        </span>
      </div>
      <div class='flex items-center gap-x-2'>
        <div class='bg-[#606060] w-[10rem] text-center p-2 rounded-md'>Maltiti A. Ent LLC</div>
        <span class='status-icon space-x-2 text-primary'>
          <mat-icon>brightness_1</mat-icon>
          <span>Awaiting Review</span>
        </span>
      </div>
      <div class='flex items-center gap-x-2'>
        <div class='bg-[#606060] w-[10rem] text-center p-2 rounded-md'>Munchies LLC</div>
        <span class='status-icon space-x-2 text-[red]'>
          <mat-icon>brightness_1</mat-icon>
          <span>Rejected</span>
        </span>
      </div>
    </div>
  </div>
  <div class='flex mt-12 items-center justify-center'>
    <span routerLink='../business-profile' class='bg-primary cursor-pointer hover:bg-black py-2.5 px-10 rounded-md'>
      Register new company
    </span>
  </div>

</section>

