<div class="bg-secondary px-10 pb-4">
  <div class='text-center text-primary text-xl'>Tin Registration</div>
  <h2 class="sr-only">Steps</h2>

  <div
    class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-grey"
  >
    <ol
      class="relative z-10 flex justify-between text-sm font-medium text-white"
    >
      <li [ngClass]="tinStage === 1 ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 1 ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinPersonalValid() ? 1 : ''}}
          <mat-icon *ngIf='isTinPersonalValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Personal Details </span>
      </li>

      <li [ngClass]="tinStage === 2 ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 2 ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinEmploymentIdentificationValid() ? 2 : ''}}
          <mat-icon *ngIf='isTinEmploymentIdentificationValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Employment and Identification </span>
      </li>

      <li [ngClass]="tinStage === 3 ? 'text-primary' : ''" class="flex cursor-pointer items-center gap-2 bg-secondary p-2">
        <span  [ngClass]="tinStage === 3 ? 'bg-primary' : 'bg-grey'"
              class="h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinAddressValid() ? 3 : ''}}
          <mat-icon *ngIf='isTinAddressValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Residential Address</span>
      </li>

      <li [ngClass]="tinStage === 4 ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 4 ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinContactValid() ? 4 : ''}}
          <mat-icon *ngIf='isTinContactValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Postal and Contact</span>
      </li>

      <li [ngClass]="tinStage === 5 ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 5 ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinContactValid() ? 5 : ''}}
          <mat-icon *ngIf='isTinContactValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Business Details</span>
      </li>
      <li *ngIf='skipper' [ngClass]="tinStage === 6 ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 6 ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinContactValid() ? 6 : ''}}
          <mat-icon *ngIf='isTinContactValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Registered Details</span>
      </li>
      <li [ngClass]="tinStage === 6 + skipper ? 'text-primary' : ''" class="flex items-center gap-2 bg-secondary p-2">
        <span [ngClass]="tinStage === 6 + skipper ? 'bg-primary' : 'bg-grey'"
              class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{!isTinContactValid() ? 6 + skipper : ''}}
          <mat-icon *ngIf='isTinContactValid()'>check</mat-icon>
        </span>
        <span class="hidden sm:block">Signature</span>
      </li>
    </ol>
  </div>
</div>
<app-tin-personal *ngIf='tinStage === 1' />
<app-tin-employment-identification *ngIf='tinStage === 2'/>
<app-tin-residential-address *ngIf='tinStage === 3' />
<app-postal-contact *ngIf='tinStage === 4' />
<app-business-details *ngIf='tinStage === 5' />
<app-register-department *ngIf='skipper && tinStage === 6'/>
<app-tin-signature *ngIf='tinStage === 6 + skipper'/>

