<section class="bg-secondary h-screen text-white p-10">
  <div class="flex flex-col  h-full ">
    <div class="flex flex-col w-full items-center justify-center">
      <p class="text-white mb-9 text-base font-bold">Residential Address</p>
      <form [formGroup]="tinResidentialAddressForm" (ngSubmit)="onSubmit()" class="flex flex-col mx-5 w-full items-center">
        <div class="grid border-y-2 border-primary pb-8 pt-4 sm:grid-cols-2 gap-y-8 md:max-w-5xl gap-x-5 w-full">
          <app-custom-input [labelColor]="true" label="House Number" placeholder="Enter your house number"
                            [control]="tinResidentialAddressForm.controls.houseNumber" />
          <app-custom-input [labelColor]="true" label="Building name (if any)" placeholder="Enter your building name"
                            [control]="tinResidentialAddressForm.controls.buildingName" />
          <app-custom-input [labelColor]="true" label="Street Name or Prominent Landmark" placeholder="Enter your street name or landmark"
                            [control]="tinResidentialAddressForm.controls.streetName" />
          <app-custom-select [labelColor]="'text-primary'" [control]="tinResidentialAddressForm.controls.country" label="Resident country" [options]="countries" placeholder="select your resident country"/>
          <app-custom-select [labelColor]="'text-primary'" [control]="tinResidentialAddressForm.controls.region" label="Resident Region" [options]="states" placeholder="select your resident region"/>
          <app-custom-select [labelColor]="'text-primary'" [control]="tinResidentialAddressForm.controls.town" label="Resident City" [options]="cities" placeholder="select your resident city"/>
          <app-custom-input  [labelColor]="true" label="District" placeholder="Enter your district"
                             [control]="tinResidentialAddressForm.controls.district" />
          <app-custom-input [labelColor]="true" label="Location" placeholder="Enter your location"
                            [control]="tinResidentialAddressForm.controls.location" />
          <app-custom-input [labelColor]="true" label="Postal Code" placeholder="Enter Postal Code"
                            [control]="tinResidentialAddressForm.controls.postalCode" />
        </div>
        <div class="mt-6 flex items-center gap-x-5 justify-center">
          <app-button (click)='onPrevious()' type='button' name="Back" variant="tertiary"/>
          <app-button  [disable]="tinResidentialAddressForm.invalid"  name="Next" variant="custom"/>
        </div>
      </form>
    </div>
  </div>
</section>

