<!-- component -->
<div class="bg-gray-100 h-screen">
  <div class="bg-white p-6  md:mx-auto">
    <div class="flex justify-center">
      <img width="100" src="assets/error-10379.svg"/>
    </div>
        <div class="text-center pt-4">
      <span class="md:text-2xl mt-4 text-base text-gray-900 font-bold text-center">Verification failed!</span>
      <p class="text-gray-600 my-2">The verification link has expired.</p>
      <p>Please try to login to send another link</p>
      <div class="py-10 text-center">
        <a routerLink="/login" class="px-12 hover:bg-black bg-primary hover:bg-indigo-500 rounded-md text-white font-semibold py-3">
          Login
        </a>
      </div>
    </div>
  </div>
</div>
