<div class="bg-secondary px-10 pb-4">
  <div
    class="flex text-xl font-bold gap-y-2 items-center justify-center flex-col"
  >
    <span class="text-primary">Company Information</span>
  </div>
  <div
    class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-grey"
  >
    <ol
      class="relative z-10 flex justify-between text-sm font-medium text-white"
    >
      <li
        [ngClass]="stage === 1 ? 'text-primary' : ''"
        class="flex items-center gap-2 bg-secondary p-2"
      >
        <span
          [ngClass]="stage === 1 ? 'bg-primary' : 'bg-grey'"
          class="check h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{ !isBusinessProfileValid() ? 1 : '' }}
          <mat-icon *ngIf="isBusinessProfileValid()">check</mat-icon>
        </span>
        <span class="hidden sm:block">Company Profile</span>
      </li>

      <li
        [ngClass]="stage === 2 ? 'text-primary' : ''"
        class="flex items-center gap-2 bg-secondary p-2"
      >
        <span
          [ngClass]="stage === 2 ? 'bg-primary' : 'bg-grey'"
          class="h-6 w-6 rounded-full text-white text-center text-[10px]/6 font-bold"
        >
          {{ !isBusinessAddressValid() ? 2 : '' }}
          <mat-icon *ngIf="isBusinessAddressValid()">check</mat-icon>
        </span>
        <span class="hidden sm:block">Business Address </span>
      </li>
    </ol>
  </div>
</div>
<ng-container *ngIf="!isLoading && status !== 'awaiting review'">
  <app-business-profile *ngIf="stage === 1" />
  <app-business-address *ngIf="stage === 2" />
</ng-container>
<section *ngIf="isLoading" class="bg-secondary h-screen w-full text-white">
  <div
    class="flex pt-28 flex-col animate-bounce justify-center mx-5 w-full items-center"
  >
    <app-logo />
    <span class="text-primary mt-4">Loading...</span>
  </div>
</section>
<div *ngIf="status === 'awaiting review' && !isLoading" class="bg-secondary">
  <app-rocket-animation
    title="You application is under review, you will be notified upon completion"
  />
</div>
