<app-accounts-layout question="One of us?" button="Login" src="assets/register.svg" route="/login"
                     info="Continue where you left with exciting opportunities">
  <div>
    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
      <alert/>
      <app-input [control]="resetPassword.controls.password" label="Password" for="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password">
        <div class="left-content">
          <mat-icon color="accent">vpn_key</mat-icon>
        </div>
        <div (click)="toggleShowPassword()" class="right-content">
          <mat-icon *ngIf="!showPassword" color="accent">visibility</mat-icon>
          <mat-icon *ngIf="showPassword" color="accent">visibility_off</mat-icon>
        </div>
      </app-input>
      <app-input [control]="resetPassword.controls.password_confirmation" label="Confirm Password" for="confirm_password" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your password">
        <div class="left-content">
          <mat-icon color="accent">vpn_key</mat-icon>
        </div>
        <div (click)="toggleConfirmShowPassword()" class="right-content">
          <mat-icon *ngIf="!showConfirmPassword" color="accent">visibility</mat-icon>
          <mat-icon *ngIf="showConfirmPassword" color="accent">visibility_off</mat-icon>
        </div>
      </app-input>

      <div class="action flex items-baseline justify-between">
        <app-button [disable]="!resetPassword.valid" type="submit" [isLoading]="isLoading" name="Sign up" variant="primary"/>
      </div>
    </form>
  </div>
</app-accounts-layout>
