/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea:focus,
input:focus {
  outline: none;
}

@supports (-webkit-appearance: none) {
  @media not all and (min-resolution:.001dpcm) {
    @media {
      /* Styles for WebKit-based browsers */
      input[type="checkbox"], input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        /* Add custom styles here */
      }
    }
  }
}

::ng-deep .ngx-pagination .current {
  background: red !important;
}
