<section class="h-screen bg-secondary pt-10">
  <div class="success-checkmark">
    <div class="check-icon">
      <span class="icon-line line-tip"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>
  <div>
    <p class="headings">ALL DUE DILLIGENCE FILES AND CONTACT DETAILS WILL BE SENT TO YOUR EMAIL ADDRESS</p><br>
    <p class="please">PLEASE NOTE:</p>
    <p class="writings">
      Investing in startups is high risk, you may lose all your investment if the startup fails<br>

      We do not give investment advice<br>

      MiddleFund does not charge management fees <br>

      MiddleFund will be the middleman to initiate the investment but will not be involved in the day to day activities of the startup or its founders<br>

      Arrangements can be made between investor, startup and MiddleFund if the investor wants frequent updates on the progress of the startups.<br>


      A representative from Middlefund will contact you within the next 96 hours to discuss your requirements<br>




    </p><br>
    <p class="disclaimer">Please make sure to read our <a href="#" class="lDisclaimer">Disclaimer</a> before you continue</p>
  </div>
</section>
