<a
href="#down"
aria-label="Scroll down"
class="fixed right-3 bottom-3 z-[1000] w-10 h-10 box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; flex items-center justify-center mx-auto bg-primary  text-green duration-300 transform border border-gray-400 rounded-full hover:text-teal-accent-400 hover:border-teal-accent-400 hover:shadow hover:scale-110"
>
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
  <path d="M10.293,3.293,6,7.586,1.707,3.293A1,1,0,0,0,.293,4.707l5,5a1,1,0,0,0,1.414,0l5-5a1,1,0,1,0-1.414-1.414Z"></path>
</svg>
</a>
<app-header/>
<app-hero-video/>
<app-about-us/>
<app-contact-us/>
<app-hero/>
<app-investor-hero/>
<app-startup-hero/>
<app-blog/>
<app-how-it-works/>
<app-footer id="down"/>
