<app-accounts-layout question="New here?" button="Sign up" src="assets/login.svg" routerLink="/signup"
                     info="Join us to enjoy an incredible experience on our page!">
  <form>
    <app-input label="Email" for="email" type="email" placeholder="Enter your email">
      <div class="left-content">
        <mat-icon color="accent">mail</mat-icon>
      </div>
    </app-input>
    <app-input label="Password" for="password" type="password" placeholder="Enter your password">
      <div class="left-content">
        <mat-icon color="accent">vpn_key</mat-icon>
      </div>
      <div class="right-content">
        <mat-icon color="accent">visibility</mat-icon>
      </div>
    </app-input>
  </form>
</app-accounts-layout>
