<section class="mx-auto flex-col pt-20 flex justify-center max-w-screen-xl items-center">
  <div class="text-center">
    <span class="text-primary text-xs text-center">steps</span>
    <div class="text-5xl">How It <span class="text-primary">Works?</span></div>
  </div>
  <div class="flex flex-wrap gap-6 items-center justify-center grid-cols-3 pt-16 md:gap-8 xl:gap-10">
      <app-card step="1"
                detail="Submitting your pitch is the first review process. If we find your
                        deck or business plan to fit any of our investors' portfolios.
                        We will send it to them directly. Your pitch will also be listed on the general
                        startup page where  verified investors will have access to"
      />
      <app-card step="2"
                detail="If an investor is interested you are automatically sent an email to notify you and the next
                        review process can begin. This is where the investor asks you questions they might need answers
                        to, if you reach this stage, Congratulations!"
      />
      <app-card step="3"
                detail="After the second review process, if all questions have been answered then you should expect a
                        term sheet sent into your inbox within 3-5 business working days. An investor can decide to
                        pull their investment even after term sheets have been agreed upon. A term sheet does not
                        represent a contract."
      />
  </div>
</section>
